In [61]:
import pandas as pd

In [62]:
df = pd.read_csv("data/210220_seoul-metro.csv")
df.head()

,title,content,ratings,writen_date,experienced_date
0,Good,I used to ride the subway every day since I mo...,4.0,11-2020,11-2020
1,"Clean, cheap and easy to use.","Seoul Metro is so efficient, it gets me from A...",5.0,11-2020,11-2020
2,Question,I have a question for people who has travelled...,5.0,10-2020,10-2020
3,"It’s the metro, I got there.",First time going solo and I made it. All the s...,5.0,10-2020,10-2020
4,Best service,Love seoul metro. Service is good. It's neat a...,5.0,08-2020,08-2020

In [63]:
df.insert(0, "reviewer_id", 'R_' + df.index.astype(str))

In [64]:
#remove double spaces
df['title'] = df['title'].str.replace(r' +', ' ')
df['content'] = df['content'].str.replace(r' +', ' ')

df_test = df.iloc[:2,:]
df_test

# Segmentation

In [65]:
from nltk.tokenize import sent_tokenize
df["content"] = df["content"].apply(lambda x: sent_tokenize(x))

In [66]:
#https://towardsdatascience.com/tokenize-text-columns-into-sentences-in-pandas-2c08bc1ca790
df = df.explode("content", ignore_index=True)

In [67]:
df.head()

,reviewer_id,title,content,ratings,writen_date,experienced_date
0,R_0,Good,I used to ride the subway every day since I mo...,4.0,11-2020,11-2020
1,R_0,Good,I've never been late for school.,4.0,11-2020,11-2020
2,R_0,Good,The only problem is too many people are gather...,4.0,11-2020,11-2020
3,R_0,Good,I think this is a chronic problem.,4.0,11-2020,11-2020
4,R_0,Good,"However, the overall review is…",4.0,11-2020,11-2020

In [69]:
df.to_csv("data/210221_seoul-metro-segmented.csv", index = False, header=True)